.card
{
    width: 500px;
    margin: 10px auto;
    // SCSS allows nesting CSS rules
    img
    {
    max-width: 100%; // prevent the image from overstretching
    }
}
.small
{
    float: right;
}

#small
{
    float: right;
}

.name
{
    color: dodgerblue;
}

a:hover 
{
    background-color: aqua;
}